html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #ECFDF5; 
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    max-width: 320px;
    margin: 50px auto;
    background-color: #1F2937;
    border: 5px solid #273549;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000004d;
}

h1 {
    text-align: center;
    color: #4ADF86;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #00000033;
}

p {
    text-align: left;
    color: #4ADF86;
    background-color: #1F2937;
    font-family: 'Karla', sans-serif;
    font-size: 18px
    margin: 20px;
    padding: 0 20px;
}
.card {
    box-shadow: 0 4px 8px #0000004d;
    background-color: #1F2937;

}

.card-header {
    background-color: #1F2937;
    text-align: left;
    padding: 12px;
}

.card-body {
    padding: 20px;
    background-color: #D5D4D8;
}

.card-footer {
    background-color: #1F2937;
    text-align: center;
    padding: 0px 20px;

}

img {
    max-width: 300px;
    max-height: 420px;
    border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #273549;
    color: #55F991;
}

button {
    width: 100%;
    background-color: #10B981;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover{
	background-color: #109669;
	transition: background-color 0.2s;	
}

button:active{
	transform: scale(0.98);
	transition: transform 0.2s;	
}

a. {
    width: 100%;
    background-color: #10B981;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

a.btn:hover{
	background-color: #109669;
	transition: background-color 0.2s;	
}

a.btn:active{
	transform: scale(0.98);
	transition: transform 0.2s;	
}